<app-menu-admin *ngIf="menu else elseBlock1"></app-menu-admin>

<ng-template #elseBlock1>
    <app-menu></app-menu>
</ng-template>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <div class="text-center">
                    <span class="titulo">AGREGAR PERSONA</span>
                </div>
                <form #personaForm="ngForm" class="mt-3">
                    <label class="form-label">CUIL *</label>
                    <input type="text" class="form-control" [(ngModel)]="persona.cuil" name="cuil" required><br>
                    <label class="form-label">Nombres *</label>
                    <input type="text" class="form-control" [(ngModel)]="persona.nombres" name="nombre" required><br>
                    <label class="form-label">Apellido*</label>
                    <input type="text" class="form-control" [(ngModel)]="persona.apellido" name="apellido" required><br>
                    <label class="form-label">Teléfono</label>
                    <input type="text" class="form-control" [(ngModel)]="persona.telefono" name="telefono"><br>
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" [(ngModel)]="persona.email" name="email"><br>
                    <label class="form-label">Calle *</label>
                    <input type="text" class="form-control" [(ngModel)]="domicilio.calle" name="calle" required><br>
                    <label class="form-label">Número</label>
                    <input type="number" class="form-control" [(ngModel)]="domicilio.numero" name="numero"><br>
                    <label class="form-label">Barrio</label>
                    <input type="text" class="form-control" [(ngModel)]="domicilio.barrio" name="barrio"><br>
                    <label class="form-label">Departamento</label>
                    <input type="text" class="form-control" [(ngModel)]="domicilio.departamento"
                        name="departamento"><br>
                    <label class="form-label">Código Postal</label>
                    <input type="text" class="form-control" [(ngModel)]="domicilio.codigoPostal"
                        name="codigoPostal"><br>

                        <label class="form-label" style="margin-top: 15px; color: orangered;">(*) Campos obligatorios</label>

                    <div class="text-center mb-3 mt-5">
                        <button class="btn btn-danger btn-lg" style="margin-right: 40px;"
                            routerLink="/listado-personas">CANCELAR</button>
                        <button class="btn btn-success btn-lg" style="margin-left: 40px;" (click)="agregarPersona()"
                            *ngIf="!persona.id else elseBlock" [disabled]='!personaForm.valid'>AGREGAR</button>

                        <ng-template #elseBlock>
                            <button class="btn btn-success btn-lg" style="margin-left: 40px;"
                                (click)="actualizarPersona()">ACTUALIZAR</button>
                        </ng-template>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>