<app-menu-admin></app-menu-admin>
<div class="container mt-3 ml-1" style="text-align: center;">
    <div class="card text-center">
        <div class="card-header titulo" style="padding-top: 5px; padding-bottom: 5px;">
            Avisos
            <button class="btn btn-success float-right" (click)="verModal(abrirModal)">
                <i class="fas fa-plus"></i> NUEVO
            </button>
        </div>
        <div class="card-body"
            style="padding-top: 5px; padding-bottom: 0px; border: 1px solid; border-color: lightgray;"
            *ngFor="let avisos of listaAvisosOrdenados() | paginate: {itemsPerPage: 5, currentPage: pageActual}">
            <div class="row">
                <div class="col-1" style="margin-top: 10px;">
                    <i class="fas fa-envelope-open-text" style="font-size: 50px;"></i>
                </div>

                <div class="col-9" style="text-align: left;">
                    <label>
                        <h3>{{avisos.titulo}}</h3>
                        <p class="card-text">{{avisos.mensaje}}</p>
                        <p class="card-text"><small class="text-muted">Fecha del aviso: {{avisos.fecha}}</small></p>
                    </label>
                </div>

                <div class="col-2 " style="text-align: right; margin-top: 10px;">
                    <button style="font-size: 12px; margin-right: 5px;" class="btn btn-primary">
                        <i class="fas fa-edit" (click)="modificarAviso(avisos.id, abrirModalModif)"></i>
                    </button>
                    <button style="font-size: 12px;" class="btn btn-danger">
                        <i class="fas fa-trash" (click)="eliminarAviso(avisos.id)"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- MODAL AGREGAR -->
        <ng-template #abrirModal let-modal>
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar aviso</h5>
                </div>
                <div class="modal-body">
                    <label class="form-label">Ingrese asunto:</label>
                    <input type="text" class="form-control" id="asunto" required><br>
                    <label class="form-label">Ingrese mensaje:</label>
                    <textarea type="text" style="height: 120px;" class="form-control" id="mensaje" required></textarea><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="datosModal(modal)">Agregar</button>
                </div>
            </form>
        </ng-template>

        <!-- MODAL MODIFICAR -->
        <ng-template #abrirModalModif let-modal2>
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar aviso</h5>
                </div>
                <div class="modal-body">
                    <label class="form-label">Ingrese asunto:</label>
                    <input type="text" class="form-control" id="asunto" required><br>
                    <label class="form-label">Ingrese mensaje:</label>
                    <textarea type="text" style="height: 120px;" class="form-control" id="mensaje" required></textarea><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="modal2.close()">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="datosModalUpdate(modal2)">Modificar</button>
                </div>
            </form>
        </ng-template>

    </div>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
</div>