<app-menu-facilitador></app-menu-facilitador>

<div class="container mt-3 ml-4">

    <div class="card text-center">
        <div class="card-header">
          Filtros
          <i class="fas fa-search float-right" style="font-size: 20px; margin-top: 5px;color: darkgrey;"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <input type="search" style="height: 30px;" class="form-control" [(ngModel)]="apellidoPersonal" (ngModelChange)="filtrosCombinados()" 
                        name="filterAPELLIDO"
                        placeholder="Buscar RTE por Apellido">
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <input type="search" style="height: 30px;" class="form-control" [(ngModel)]="nombrePersonal" (ngModelChange)="filtrosCombinados()" 
                        name="filterNOMBRE"
                        placeholder="Buscar RTE por Nombre">
                    </div>
                </div>
        
                <div class="col-6">
                    <div class="form-group">
                        <input type="search" style="height: 30px;" class="form-control" [(ngModel)]="nombreEscuela" (ngModelChange)="filtrosCombinados()" 
                        name="filterESCUELA"
                        placeholder="Buscar ESCUELA (ingrese el nombre)"
                        >
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col">
                    <form class="form-group">
                        <select class="form-control placeholder" [(ngModel)]="opcionSeleccionado" (ngModelChange)="filtrosCombinados()"
                            name="mes">
                            <option selected value="">0-TODOS LOS MESES</option>
                            <option value="01">1-Enero</option>
                            <option value="02">2-Febrero</option>
                            <option value="03">3-Marzo</option>
                            <option value="04">4-Abril</option>
                            <option value="05">5-Mayo</option>
                            <option value="06">6-Junio</option>
                            <option value="07">7-Julio</option>
                            <option value="08">8-Agosto</option>
                            <option value="09">9-Septiembre</option>
                            <option value="10">10-Octubre</option>
                            <option value="11">11-Noviembre</option>
                            <option value="12">12-Diciembre</option>
                        </select>
                    </form>
                </div>
        
                <div class="col">
                    <form class="form-group">
                        <select class="form-control placeholder" [(ngModel)]="opcionSeleccionado2" (ngModelChange)="filtrosCombinados()"
                            name="region">
                            <option selected value="">0- TODAS LAS REGIONES</option>
                            <option value="1">1- I</option>
                            <option value="2">2- II</option>
                            <option value="3">3- III</option>
                            <option value="4">4- IV</option>
                            <option value="5">5- V</option>
                        </select>
            
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form class="form-group">
                        <select class="form-control placeholder" style="height: 35px;" [(ngModel)]="opcionSeleccionado3" (ngModelChange)="filtrosCombinados()"
                            name="actividad">
                            <option selected value="">0-TODAS LAS ACTIVIDADES</option>
                            <option value="1">1-Capacitacion/Tutoria/Asesoramiento</option>
                            <option value="2">2-Asistencia Tecnica</option>
                            <option value="3">3-Acompañamiento TIC en practicas educativas</option>
                            <option value="4">4-Asistencia administrativa</option>
                            <option value="5">5-Grupos de indagacion</option>
                        </select>
                    </form>
                </div>
        
                <div class="col">
                    <form class="form-group">
                        <select class="form-control placeholder" style="height: 35px;" [(ngModel)]="opcionSeleccionado4" (ngModelChange)="filtrosCombinados()"
                            name="destinatarios">
                            <option selected value="">0-TODOS LOS DESTINATARIOS</option>
                            <option value="1">1-Director/es</option>
                            <option value="2">2-Docentes</option>
                            <option value="3">3-Estudiantes</option>
                            <option value="4">4-Administrativos</option>
                            <option value="5">5-Bibliotecarios</option>
                            <option value="6">6-Director/Docentes</option>
                            <option value="7">7-Entes externos</option>
                            <option value="8">8-Destinatarios varios</option>
                            <option value="9">9-Equipo AED</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
      </div>



     <!--   <div class="col" style="margin-left: 12vw;">
                <form class="d-flex mb-3">
                    <select class="form-control placeholder float-right" style="width: 12vw; margin-left: 40px;"
                    [(ngModel)]="mes" name="mess">
                        <option selected value="111">MESES</option>
                        <option value="01">1-Enero</option>
                        <option value="02">2-Febrero</option>
                        <option value="03">3-Marzo</option>
                        <option value="04">4-Abril</option>
                        <option value="05">5-Mayo</option>
                        <option value="06">6-Junio</option>
                        <option value="07">7-Julio</option>
                        <option value="08">8-Agosto</option>
                        <option value="09">9-Septiembre</option>
                        <option value="10">10-Octubre</option>
                        <option value="11">11-Noviembre</option>
                        <option value="12">12-Diciembre</option>
                    </select>
                    <button class="btn btn-info float-right" style="height: 35px; width: 10vw; margin-left: 10px;" (click)="cerrarMes()">
                        <i class="far fa-calendar-check"></i> Cerrar Mes
                    </button>
                </form>
        </div>
    </div> -->
    

    <div class="row">
        <div class="col-lg-13" id="content" #content>
            <div class="card">

                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE INFORMES</span>
                    <!-- <button class="btn btn-success float-right" (click)="irActividad()">
                        <i class="fas fa-plus"></i> NUEVO
                    </button> -->
                    <button class="btn btn-info float-left" (click)="generatePDF()">
                        <i class="far fa-file-pdf"></i> Generar PDF
                    </button>
                    <table class="table table-striped mt-3">
                        <thead style="font-size: 14px;">
                            <tr>
                                <th scope="col">RTE</th>
                                <th scope="col">FECHA</th>
                                <th scope="col">CUE</th>
                                <th scope="col">INSTITUCIÓN</th>
                                <th scope="col">TIPO</th>
                                <th scope="col">ACTIVIDAD</th>
                                <th scope="col">DESTINATARIOS</th>
                                <th scope="col">CANTIDAD</th>
                                <th scope="col">DURACIÓN</th>
                                <th scope="col">FECHA HORA CARGA</th>
                                <!-- <th colspan="2">CONFIGURACIÓN</th> -->
                                <!-- <th scope="col">EDITAR</th> -->
                            </tr>
                        </thead>
                        <tbody style="font-size: 12px;">
                            <tr
                            *ngFor="let actividad of listaActividadesOrdenada() | paginate: {itemsPerPage: 10, currentPage: pageActual}">
                            <th scope="row">{{actividad.personal.persona.nombres}}
                                    {{actividad.personal.persona.apellido}}</th>
                                <td>{{actividad.fecha | date: 'dd/MM/yyyy'}}</td>
                                <td>{{actividad.escuela.cue}}</td>
                                <td>{{actividad.escuela.nombre}}</td>
                                <td>{{actividad.categoria.categoria}}</td>
                                <td><div style="overflow-y: scroll; height: 100px; width: 200px;">{{actividad.detalle}}</div></td>
                                <td>{{actividad.destinatario.destinatario}}</td>
                                <td>{{actividad.cantidadParticipantes}}</td>
                                <td>{{actividad.duracionHora}}:{{actividad.duracionMinuto}}</td>
                                <td>{{actividad.fechaCarga}} {{actividad.hora}}</td>
                                <div *ngIf="actividad.activo else elseActivo">
                                <!-- <td><button style="font-size: 12px;" class="btn btn-primary"
                                        [routerLink]="['/listado-informes/agregar-informe/', actividad.id]">
                                        <i class="fas fa-edit"></i>
                                    </button></td> -->
                                <!-- <td><button style="font-size: 12px;" class="btn btn-danger"
                                        (click)="eliminarActividad(actividad)">
                                        <i class="fas fa-trash"></i>
                                    </button></td> -->
                                </div>
                                <ng-template #elseActivo>
                                    <td>
                                        <label>Mes cerrado</label>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                </div>
                <div class="card-footer text-muted text-center">
                    Contacto: jromero@aedjujuy.edu.ar
                  </div>
            </div>
        </div>

    </div>
    <ngx-spinner>
        <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>
</div>