<app-menu-admin *ngIf="menu else elseBlock1"></app-menu-admin>

<ng-template #elseBlock1>
    <app-menu></app-menu>
</ng-template>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <div class="text-center">
                    <span class="titulo">ASIGNAR FUNCIÓN</span>
                </div>
                <form #personalForm="ngForm" class="mt-3">
                    <label class="form-label">RTE *</label>
                    <select class="form-control" [(ngModel)]="persona.id" name="persona" required>
                        <option *ngFor="let personas of personaPersonalList" [value]="personas.id">
                            {{personas.nombres}} {{personas.apellido}}
                        </option>
                    </select><br>

                    <label class="form-label">Función *</label>
                                <select class="form-control" [(ngModel)]="personal.funcion" name="funcion"
                                    required>
                                    <option selected value="RTE ESCUELA">RTE ESCUELA</option>
                                    <option value="FACILITADOR">FACILITADOR</option>
                                    <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                                </select>

                    <label class="form-label" style="margin-top: 15px; color: orangered;">(*) Campos obligatorios</label>

                    <div class="text-center mb-3 mt-5">
                        <button class="btn btn-danger btn-lg" style="margin-right: 40px;"
                            routerLink="/listado-personas">CANCELAR</button>
                        <button class="btn btn-success btn-lg" style="margin-left: 40px;" (click)="agregarPersonal()" 
                        [disabled]='!personalForm.valid'>ASIGNAR</button>

                        <ng-template #elseBlock>
                            <button class="btn btn-success btn-lg" style="margin-left: 40px;"
                                >ACTUALIZAR</button>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
