<div class="container mt-3 ml-2">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">

        <div class="card-body text-center">
          <span class="titulo">VALIDACIÓN</span>

          <div class="mb-3 row mt-5">
            <label class="col-sm-3 col-form-label">Usuario</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="user" placeholder="Ingrese su CUIL">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Contraseña</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" [(ngModel)]="pass" placeholder="Repita su CUIL">
            </div>
          </div>

        </div>
        <div class="text-center mb-3 mt-3">
          <button class="btn btn-danger btn-lg" style="margin-right: 40px;" routerLink="/">CANCELAR</button>
          <button class="btn btn-success btn-lg" style="margin-left: 40px;" (click)="personalExistente(user,pass)">INGRESAR</button>

        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="fixed-bottom card-footer text-muted text-center">
  Contacto: jromero@aedjujuy.edu.ar
</div>
