<app-menu></app-menu>


<div class="container mt-3 ml-1" style="text-align: center;">
  <div class="card text-center" style="background-color: gainsboro;">
      <div class="card-header titulo" style="padding-top: 5px; padding-bottom: 5px;">
          Estadísticas
          <button class="btn btn-info float-left" (click)="generatePDF()">
            <i class="far fa-file-pdf"></i> Generar PDF
          </button>
          <form class="form-group float-right">
            <select class="form-control placeholder" style="height: 35px;" [(ngModel)]="opcionSeleccionado" (ngModelChange)="obtenerActividades()"
                name="mes">
                <option selected value="">0-TODOS LOS MESES</option>
                <option value="01">1-Enero</option>
                <option value="02">2-Febrero</option>
                <option value="03">3-Marzo</option>
                <option value="04">4-Abril</option>
                <option value="05">5-Mayo</option>
                <option value="06">6-Junio</option>
                <option value="07">7-Julio</option>
                <option value="08">8-Agosto</option>
                <option value="09">9-Septiembre</option>
                <option value="10">10-Octubre</option>
                <option value="11">11-Noviembre</option>
                <option value="12">12-Diciembre</option>
            </select>
        </form>
      </div>
      <div class="card-body" >
          <div class="row" style="padding-bottom: 15px;">
              <div class="col-4">
                <div class="card">
                  <!-- <img src="..." class="card-img-top" alt="..."> -->
                  <div class="card-body">
                    <h5 class="card-title">Total de Actividades Cargadas</h5>
                    <p class="card-text" style="font-size: 50px;">{{cantidadActividades}}</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <!-- <img src="..." class="card-img-top" alt="..."> -->
                  <div class="card-body">
                    <h5 class="card-title">Total de horas cargadas</h5>
                    <p class="card-text" style="font-size: 50px;">{{cantidadHoras}}:{{entero2}}</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <!-- <img src="..." class="card-img-top" alt="..."> -->
                  <div class="card-body">
                    <h5 class="card-title">Total de CUE Trabajados</h5>
                    <p class="card-text" style="font-size: 50px;">{{cantidadEscuelas}}</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div>
              </div>
          </div>

          <div class="row" style="padding-bottom: 15px;">
            <div class="col">
              <div class="card">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">Total de Actividades Cargadas por Categoría</h5>

                  <div class="row">
                  <div class="col-3">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title" style="height: 8vh;">Capacitación/Tutoría/Asesoramiento</h6>
                        <p class="card-text" style="font-size: 40px;">{{cat1}}</p>
                        <p class="card-text" style="font-size: 25px;">{{porcenCat1 | number:'.2-2'}}%</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title" style="height: 8vh;">Asistencia Técnica</h6>
                        <p class="card-text" style="font-size: 40px;">{{cat2}}</p>
                        <p class="card-text" style="font-size: 25px;">{{porcenCat2 | number:'.2-2'}}%</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title" style="height: 8vh;">Acompañamiento TIC en prácticas educativas</h6>
                        <p class="card-text" style="font-size: 40px;">{{cat3}}</p>
                        <p class="card-text" style="font-size: 25px;">{{porcenCat3 | number:'.2-2'}}%</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title" style="height: 8vh;">Asistencia administrativa</h6>
                        <p class="card-text" style="font-size: 40px;">{{cat4}}</p>
                        <p class="card-text" style="font-size: 25px;">{{porcenCat4 | number:'.2-2'}}%</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title" style="height: 8vh;">Grupos de indagación</h6>
                        <p class="card-text" style="font-size: 40px;">{{cat5}}</p>
                        <p class="card-text" style="font-size: 25px;">{{porcenCat5 | number:'.2-2'}}%</p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
        </div>


        <div class="row" style="padding-bottom: 15px;">
          <div class="col">
            <div class="card">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">Porcentaje de Regiones Atendidas</h5>

                <div class="row">
                <div class="col-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title">Region I</h6>
                      <!-- <p class="card-text" style="font-size: 40px;">{{region1}}</p> -->
                      <p class="card-text" style="font-size: 25px;">{{porcenReg1 | number:'.2-2'}}%</p>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title">Region II</h6>
                      <!-- <p class="card-text" style="font-size: 40px;">{{region2}}</p> -->
                      <p class="card-text" style="font-size: 25px;">{{porcenReg2 | number:'.2-2'}}%</p>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title">Region III</h6>
                      <!-- <p class="card-text" style="font-size: 40px;">{{region3}}</p> -->
                      <p class="card-text" style="font-size: 25px;">{{porcenReg3 | number:'.2-2'}}%</p>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title">Region IV</h6>
                      <!-- <p class="card-text" style="font-size: 40px;">{{region4}}</p> -->
                      <p class="card-text" style="font-size: 25px;">{{porcenReg4 | number:'.2-2'}}%</p>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="card">
                    <div class="card-body">
                      <h6 class="card-title">Region V</h6>
                      <!-- <p class="card-text" style="font-size: 40px;">{{region5}}</p> -->
                      <p class="card-text" style="font-size: 25px;">{{porcenReg5 | number:'.2-2'}}%</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
      </div>

      <div class="row" style="padding-bottom: 15px;">
        <div class="col">
          <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Porcentaje de Niveles Atendidos</h5>

              <div class="row">
              <div class="col-2" style="padding-bottom: 10px;">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title" style="height: 6vh;">Especial</h6>
                    <!-- <p class="card-text" style="font-size: 40px;">{{region1}}</p> -->
                    <p class="card-text" style="font-size: 25px;">{{porcenNiv1 | number:'.2-2'}}%</p>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title" style="height: 6vh;">Inicial</h6>
                    <!-- <p class="card-text" style="font-size: 40px;">{{region2}}</p> -->
                    <p class="card-text" style="font-size: 25px;">{{porcenNiv2 | number:'.2-2'}}%</p>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title" style="height: 6vh;">Inicial / Primario</h6>
                    <!-- <p class="card-text" style="font-size: 40px;">{{region3}}</p> -->
                    <p class="card-text" style="font-size: 25px;">{{porcenNiv3 | number:'.2-2'}}%</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title" style="height: 6vh;">Inicial / Primario / Especial</h6>
                    <!-- <p class="card-text" style="font-size: 40px;">{{region4}}</p> -->
                    <p class="card-text" style="font-size: 25px;">{{porcenNiv4 | number:'.2-2'}}%</p>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title" style="height: 6vh;">J. Maternal / Inicial</h6>
                    <!-- <p class="card-text" style="font-size: 40px;">{{region5}}</p> -->
                    <p class="card-text" style="font-size: 25px;">{{porcenNiv5 | number:'.2-2'}}%</p>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title" style="height: 6vh;">Primario</h6>
                    <!-- <p class="card-text" style="font-size: 40px;">{{region5}}</p> -->
                    <p class="card-text" style="font-size: 25px;">{{porcenNiv6 | number:'.2-2'}}%</p>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title" style="height: 6vh;">Primario / Especial</h6>
                    <!-- <p class="card-text" style="font-size: 40px;">{{region5}}</p> -->
                    <p class="card-text" style="font-size: 25px;">{{porcenNiv7 | number:'.2-2'}}%</p>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title" style="height: 6vh;">Secundario</h6>
                    <!-- <p class="card-text" style="font-size: 40px;">{{region5}}</p> -->
                    <p class="card-text" style="font-size: 25px;">{{porcenNiv8 | number:'.2-2'}}%</p>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title" style="height: 6vh;">Secundario / Polimodal</h6>
                    <!-- <p class="card-text" style="font-size: 40px;">{{region5}}</p> -->
                    <p class="card-text" style="font-size: 25px;">{{porcenNiv9 | number:'.2-2'}}%</p>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title" style="height: 6vh;">Superior</h6>
                    <!-- <p class="card-text" style="font-size: 40px;">{{region5}}</p> -->
                    <p class="card-text" style="font-size: 25px;">{{porcenNiv10 | number:'.2-2'}}%</p>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <div class="card-body">
                    <h6 class="card-title" style="height: 6vh;">Adultos</h6>
                    <!-- <p class="card-text" style="font-size: 40px;">{{region5}}</p> -->
                    <p class="card-text" style="font-size: 25px;">{{porcenNiv11 | number:'.2-2'}}%</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cantidad de Escuelas Asistidas</h5>
            <div class="row">
                  <div class="col-6">
                    <div class="card" *ngFor="let element of nombreEscuelaListFilter">
                      <div style="text-align: left; padding-top: 3px; padding-bottom: 3px; margin-left: 2px;">
                        <p class="card-text">{{element}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card" *ngFor="let element of cantidadEscuelasList">
                      <div style="text-align: center; padding-top: 3px; padding-bottom: 3px; margin-left: 2px;">
                        <p class="card-text">{{element}}</p>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
  </div>


      </div>
  </div>
  <ngx-spinner>
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
</div>