<app-menu></app-menu>
<div class="container mt-3 ml-1" style="text-align: center;">
    <div class="card text-center">
        <div class="card-header titulo" style="padding-top: 5px; padding-bottom: 5px;">
            Avisos
            <button class="btn btn-success float-right" (click)="leido()">
                <i class="fas fa-envelope-open-text" style="margin-top: 5px;"></i> 
                Marcar como Leídos
            </button>
            
        </div>
        <div class="card-body" style="padding-top: 5px; padding-bottom: 0px; border: 1px solid; border-color: lightgray;"
        *ngFor="let avisos of listaAvisosOrdenados() | paginate: {itemsPerPage: 5, currentPage: pageActual}">
            <div class="row">
                <div class="col-1" style="margin-top: 10px;">
                    <i class="fas fa-envelope-open-text" style="font-size: 50px;"></i>
                </div>
                <div class="col" style="text-align: left;">
                    <label>
                        <h3>{{avisos.titulo}}</h3>
                        <p class="card-text">{{avisos.mensaje}}</p>
                        <p class="card-text"><small class="text-muted">Fecha del aviso: {{avisos.fecha}}</small></p>
                    </label>
                </div>
                <!-- <div class="col-2 text-muted" style="text-align: right; margin-top: 10px;" *ngIf="avisos.leido else elseBlock1">
                    Msj Leido
                </div> -->
            </div>

            <!-- <ng-template #elseBlock1>
                <div class="col-2 " style="text-align: right; margin-top: 10px;">
                    <button style="font-size: 12px; margin-right: 5px;" class="btn btn-success">
                        <i class="far fa-check-square" style="font-size: 20px;"></i> LEíDO
                    </button>
                </div>
            </ng-template> -->

        </div>
    </div>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
</div>