<!-- <app-menu-admin *ngIf="menu else elseBlock1"></app-menu-admin>

<ng-template #elseBlock1>
    <app-menu></app-menu>
</ng-template> -->
<app-menu></app-menu>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <div class="text-center">
                    <span class="titulo">CARGAR INFORME SEMANAL</span>
                </div>
                <form #informeForm="ngForm" class="mt-3">
                    <label class="form-label">RTE *</label>
                    <select class="form-control" [(ngModel)]="personal.id" name="personal" required>
                        <option *ngFor="let personal of listaPersonalOrdenada()" [value]="personal.id">
                            {{personal.persona.apellido}}, {{personal.persona.nombres}}
                        </option>
                    </select><br>

                    <label class="form-label">Fecha *</label>
                    <input type="date" class="form-control" [(ngModel)]="actividad.fecha" name="fecha" required><br>
                    
                    <label class="form-label">CUE / Institución *</label><br>
                    <!-- <select class="form-control" [(ngModel)]="escuela.id" name="escuela">
                        <option *ngFor="let escuela of escuelaList" [value]="escuela.id">
                            {{escuela.cue}} - {{escuela.nombre}}
                        </option>
                    </select><br> -->
                    <input class="form-control" type="text" list="escuelass" name="escuela" [(ngModel)]="codeValue"
                        (change)="saveCode($event)">
                    <datalist id="escuelass" required>
                        <option *ngFor="let escuela of escuelaList" [value]="escuela.cue + ' - ' + escuela.nombre">
                            {{escuela.cue}} - {{escuela.nombre}}
                        </option>
                    </datalist><br>

                    <!-- <ng-autocomplete 
                    [data]="data$ | async"
                    [searchKeyword]="keyword"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate"
                    (selected)='selectEvent($event)'
                    placeholder="ingrese el nombre..."
                    >                                 
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.cue+ ' - ' + item.nombre"></a>
                        </ng-template>
                        
                        <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                        </ng-template> -->


                    <!-- <label class="form-label">Institucion:</label>
                    <input type="text" class="form-control"><br> -->

                    <label class="form-label">Tipo de Actividad *</label>
                    <select class="form-control" [(ngModel)]="categoria.id" name="categoria" required>
                        <option *ngFor="let categoria of listaCategoriaOrdenada()" [value]="categoria.id">
                            {{categoria.categoria}}
                        </option>
                    </select><br>

                    <label class="form-label">Actividad *</label>
                    <textarea type="text" class="form-control" [(ngModel)]="actividad.detalle" name="detalle"
                        required></textarea><br>

                    <label class="form-label">Destinatarios *</label>
                    <select class="form-control" [(ngModel)]="destinatario.id" name="destinatario" required>
                        <option *ngFor="let destinatario of listaDestinatarioOrdenada()" [value]="destinatario.id">
                            {{destinatario.destinatario}}
                        </option>
                    </select><br>

                    <div class="form-group">
                        <label class="form-label">Cantidad de participantes *</label>
                        <input type="text" class="form-control" [(ngModel)]="actividad.cantidadParticipantes"
                            name="cantParticipantes" id="cantParticipantes" #cantParticipantes="ngModel" pattern="\d*"
                            maxlength="3" required>
                        <div *ngIf="cantParticipantes.invalid && (cantParticipantes.dirty || cantParticipantes.touched)"
                            class="alert alert-danger">
                            <div *ngIf="cantParticipantes.errors.pattern">
                                Debe ingresar números.
                            </div>
                        </div>
                    </div>

                    <label class="form-label">Duración de la actividad *</label>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <select class="form-control" [(ngModel)]="actividad.duracionHora" name="duracionHora"
                                    required>
                                    <option selected value="0">0 hs</option>
                                    <option value="1">1 hs</option>
                                    <option value="2">2 hs</option>
                                    <option value="3">3 hs</option>
                                    <option value="4">4 hs</option>
                                    <option value="5">5 hs</option>
                                    <option value="6">6 hs</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-control" [(ngModel)]="actividad.duracionMinuto"
                                    name="duracionMinuto" required>
                                    <option selected value="0">0 min</option>
                                    <option value="10">10 min</option>
                                    <option value="20">20 min</option>
                                    <option value="30">30 min</option>
                                    <option value="40">40 min</option>
                                    <option value="50">50 min</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <label class="form-label" style="margin-top: 15px; color: orangered;">(*) Campos obligatorios</label>

                    <div class="text-center mb-3 mt-5">
                        <button class="btn btn-danger btn-lg" style="margin-right: 40px;"
                            routerLink="/listado-informes">CANCELAR</button>
                        <button class="btn btn-success btn-lg" style="margin-left: 40px;" (click)="agregarActividad()"
                            *ngIf="!actividad.id else elseBlock" [disabled]='!informeForm.valid'>AGREGAR</button>

                        <ng-template #elseBlock>
                            <button class="btn btn-success btn-lg" style="margin-left: 40px;"
                                (click)="actualizarActividad()">ACTUALIZAR</button>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ngx-spinner>
        <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>
</div>