<!-- <app-menu-admin *ngIf="menu else elseBlock1"></app-menu-admin>

<ng-template #elseBlock1>
  <app-menu></app-menu>
</ng-template> -->
<app-menu-admin></app-menu-admin>

<div class="container mt-3 ml-2">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input type="search" class="form-control" [(ngModel)]="filterPost" name="filterPost" placeholder="Buscar escuela por CUE...">
      </div>
    </div>
    <i class="fas fa-search" style="font-size: 25px; margin-top: 5px;"></i>

    <div class="col">
      <div class="form-group">
        <input type="search" class="form-control" [(ngModel)]="filterPostEscNom" name="filterPostEscNom" placeholder="Buscar escuela por NOMBRE...">
      </div>
    </div>
    <i class="fas fa-search" style="font-size: 25px; margin-top: 5px;"></i>
  </div>
  <div class="row">
    <div class="col-lg-13">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO DE ESCUELAS</span>
          <button class="btn btn-success float-right" (click)="irEscuela()">
            <i class="fas fa-plus"></i> NUEVO
          </button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">CUE</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">CALLE</th>
                <th scope="col">NRO</th>
                <th scope="col">BARRIO</th>
                <th scope="col">C.P.</th>
                <th scope="col">DEPARTAMENTO</th>
                <th scope="col">TELÉFONO</th>
                <th scope="col">REGIÓN</th>
                <th scope="col">SECTOR</th>
                <th scope="col">ÁMBITO</th>
                <th scope="col">NIVEL</th>
                <th scope="col">EMAIL</th>
                <!-- <th scope="col">DIRECTOR</th> -->
                <th colspan="2">CONFIGURACIÓN</th>
              </tr>
            </thead>
            <tbody style="font-size: 14px;">
              <tr *ngFor="let escuelas of escuelasList | filterSearch:filterPost 
              | filterSearchEscNom: filterPostEscNom | paginate: {itemsPerPage: 10, currentPage: pageActual}">
                <th scope="row">{{escuelas.cue}}</th>
                <td>{{escuelas.nombre}}</td>
                <td>{{escuelas.domicilio.calle}}</td>
                <td>{{escuelas.domicilio.numero}}</td>
                <td>{{escuelas.domicilio.barrio}}</td>
                <td>{{escuelas.domicilio.codigoPostal}}</td>
                <td>{{escuelas.domicilio.departamento}}</td>
                <td>{{escuelas.telefono}}</td>
                <td>{{escuelas.region.region}}</td>
                <td>{{escuelas.sector.sector}}</td>
                <td>{{escuelas.ambito.ambito}}</td>
                <td>{{escuelas.nivelEducativo.nivel}}</td>
                <td>{{escuelas.email}}</td>
                <!-- <td>{{escuelas.persona.nombres}} {{escuelas.persona.apellido}}</td> -->
                <td><button style="font-size: 12px;" class="btn btn-primary"
                    [routerLink]="['/listado-escuelas/agregar-escuela/', escuelas.id]">
                    <i class="fas fa-edit"></i>
                  </button></td>
                <td><button style="font-size: 12px;" class="btn btn-danger" (click)="eliminarEscuela(escuelas)">
                    <i class="fas fa-trash"></i>
                  </button></td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner>
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
</div>