<!-- <app-menu-admin *ngIf="menu else elseBlock1"></app-menu-admin>

<ng-template #elseBlock1>
    <app-menu></app-menu>
</ng-template> -->
<app-menu-admin></app-menu-admin>

<div class="container mt-3 ml-5">

    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="search" class="form-control" [(ngModel)]="filterPost" name="filterPost"
                    placeholder="Buscar persona por CUIL...">
            </div>
        </div>
        <i class="fas fa-search" style="font-size: 25px; margin-top: 5px;"></i>

        <div class="col">
            <div class="form-group">
                <input type="search" class="form-control" [(ngModel)]="filterPostNom" name="filterPostNom"
                    placeholder="Buscar persona por NOMBRE...">
            </div>
        </div>
        <i class="fas fa-search" style="font-size: 25px; margin-top: 5px;"></i>

        <!-- <div class="col">
            <div class="form-group">
                <input type="search" class="form-control" [(ngModel)]="filterPostDepto" name="filterPostDepto"
                    placeholder="Buscar persona por DEPARTAMENTO...">
            </div>
        </div>
        <i class="fas fa-search" style="font-size: 25px; margin-top: 5px;"></i> -->
    </div>

    <div class="row">
        <div class="col-lg-13">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PERSONAS</span>
                    <button class="btn btn-success float-right" (click)="irPersona()">
                        <i class="fas fa-plus"></i> NUEVO
                    </button>
                    <button class="btn btn-info float-left" (click)="irPersonal()">
                        <i class="fas fa-user"></i> Asignar Función
                    </button>
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">CUIL</th>
                                <th scope="col">NOMBRES</th>
                                <th scope="col">APELLIDO</th>
                                <th scope="col">TELÉFONO</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col">CALLE</th>
                                <th scope="col">NRO</th>
                                <th scope="col">BARRIO</th>
                                <th scope="col">DEPARTAMENTO</th>
                                <th scope="col">C.P.</th>
                                <th colspan="2">CONFIGURACIÓN</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 14px;">
                            <tr
                                *ngFor="let personas of personasList | filterSearchPerson:filterPost 
                                | filterSearchNom:filterPostNom | paginate: {itemsPerPage: 10, currentPage: pageActual}">
                                <th scope="row">{{personas.cuil}}</th>
                                <td>{{personas.nombres}}</td>
                                <td>{{personas.apellido}}</td>
                                <td>{{personas.telefono}}</td>
                                <td>{{personas.email}}</td>
                                <td>{{personas.domicilio.calle}}</td>
                                <td>{{personas.domicilio.numero}}</td>
                                <td>{{personas.domicilio.barrio}}</td>
                                <td>{{personas.domicilio.departamento}}</td>
                                <td>{{personas.domicilio.codigoPostal}}</td>
                                <td><button style="font-size: 12px;" class="btn btn-primary"
                                        [routerLink]="['/listado-personas/agregar-persona/', personas.id]">
                                        <i class="fas fa-edit"></i>
                                    </button></td>
                                <td><button style="font-size: 12px;" class="btn btn-danger"
                                        (click)="eliminarPersona(personas)">
                                        <i class="fas fa-trash"></i>
                                    </button></td>
                            </tr>

                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner>
        <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>
</div>