<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-size: 23px;" href="/listado-informes-facilitador">Informes</a>
      <a class="navbar-brand" style="font-size: 23px;" href="/avisos-facilitador">Avisos</a>
      <a class="navbar-brand" style="font-size: 23px;" href="/estadisticas-facilitador">Estadísticas</a>
      <a class="navbar-brand" style="font-size: 20px;" href="/consultas-rte-facilitador">Consultas RTE</a>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
      <button class="btn btn-info float-right" (click)="salir()">
        <i class="fas fa-sign-out-alt"></i> SALIR
      </button>
    </div>
  </nav>