<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: 23px;" href="/listado-informes">Informes</a>
    <a class="navbar-brand" style="font-size: 23px;" href="/listado-informes/agregar-informe">Cargar Informe</a>
    <a class="navbar-brand" style="font-size: 23px;" href="/avisos" *ngIf="msjLeido else elseBlock1">Avisos</a>
    <a class="navbar-brand" style="font-size: 23px;" href="/estadisticas">Estadisticas</a>
    
    <!-- <a class="navbar-brand" href="/listado-escuelas">Escuelas</a>
      <a class="navbar-brand" href="/listado-personas">Personas</a> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>

    <ng-template #elseBlock1>
      <a class="navbar-brand " style="font-size: 23px; color: red;" href="/avisos">Avisos 
        <i class="fas fa-envelope animate__animated animate__heartBeat animate__infinite" style="color: red;"></i></a>
    </ng-template>

    <button class="btn btn-info float-right" (click)="salir()">
      <i class="fas fa-sign-out-alt"></i> SALIR
    </button>
  </div>
</nav>