<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size: 20px;" href="/listado-informes-AdminAdmin">Informes</a>
    <a class="navbar-brand" style="font-size: 20px;" href="/listado-informes-AdminAdmin/agregar-informe-admin">Cargar Informe</a>
    <a class="navbar-brand" style="font-size: 20px;" href="/listado-escuelas">Escuelas</a>
    <a class="navbar-brand" style="font-size: 20px;" href="/listado-personas">Personas</a>
    <a class="navbar-brand" style="font-size: 20px;" href="/categorias">Categorías</a>
    <a class="navbar-brand" style="font-size: 20px;" href="/avisos-AdminAdmin">Avisos</a>
    <a class="navbar-brand" style="font-size: 20px;" href="/estadisticas-AdminAdmin">Estadísticas</a>
    <a class="navbar-brand" style="font-size: 20px;" href="/consultas-rte">Consultas RTE</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
    <button class="btn btn-info float-right" (click)="salir()">
      <i class="fas fa-sign-out-alt"></i> SALIR
    </button>
  </div>
</nav>