.titulo{
    font-size: 1.8rem;
}
.content {
    width: 100%;
}

.left {
    padding-left: 10px;
    padding-top: 10px;
    /* margin-left: 57px; */
    float: left;
    position: relative;
    width: 80%;
    /* border: steelblue solid 1px; */
    height: auto;
}

.right {
    padding-top: 10px;
    padding-left: 10px;
    /* margin-left: 10px; */
    position: relative;
    float: left;
    width: 20%;
    /* border: steelblue solid 1px; */
    height: auto;
}