<app-menu-admin></app-menu-admin>

<div class="container mt-3">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-body">
        <div class="text-center">
          <span class="titulo">ASISTENCIA A LAS ESCUELAS</span>
        </div>
        <div class="row">
          <div class="col-10">
            <form #informeForm="ngForm" class="mt-3">
              <label class="form-label">RTE</label>
              <select class="form-control" [(ngModel)]="personal.id" name="personal" required>
                <option *ngFor="let personal of listaPersonalOrdenada()" [value]="personal.id">
                  {{personal.persona.apellido}}, {{personal.persona.nombres}}
                </option>
              </select>
            </form>
          </div>
          <div class="col-2">
            <button class="btn btn-success" style="margin-top: 7vh;"
              (click)="traerEscuelas(personal.id)">Consultar</button>
          </div>
        </div>

        <table class="table table-striped mt-3 left">
          <thead>
            <tr>
              <th scope="col">CUE</th>
              <th scope="col">NOMBRE</th>
            </tr>
          </thead>
          <tbody style="font-size: 14px;">
            <tr *ngFor="let escue of escuelas">
              <th scope="row">{{escue.cue}}</th>
              <td>{{escue.nombre}}</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped mt-3 right">
          <thead>
            <tr>
              <th scope="col">VISITÓ LA ESCUELA</th>
            </tr>
          </thead>
          <tbody style="font-size: 14px;">
            <tr *ngFor="let asist of visitasList">
              <td >{{asist}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><br>

   <div class="text-center">
    <span class="titulo">PROMEDIO DE HORAS POR DIA</span>
  </div>
  <!--<div class="row">
    <div class="col">
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th scope="col">DIA</th>
          </tr>
        </thead>
        <tbody style="font-size: 14px;">
          <tr *ngFor="let di of diass">
            <th scope="row">{{di}}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th scope="col">FECHA</th>
          </tr>
        </thead>
        <tbody style="font-size: 14px;">
          <tr *ngFor="let fech of fechass">
            <td >{{fech}}/{{mesHoy}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th scope="col">PROMEDIO HORAS</th>
          </tr>
        </thead>
        <tbody style="font-size: 14px;">
          <tr *ngFor="let prom of promedios">
            <td >{{prom}} HS</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div style="text-align: center;margin-top: 15px; margin-bottom: 30px;">
    <button class="btn btn-info" [disabled]='isDisabled' (click)="generatePDF()">
      <i class="far fa-file-pdf"></i> Generar PDF
    </button>
  </div> -->

  <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th scope="col">TOTAL DE HORAS AL MES</th>
              <th scope="col">CANTIDAD DE DIAS REGISTRADOS</th>
              <th scope="col">PROMEDIO DE HORAS</th>
            </tr>
          </thead>
          <tbody style="font-size: 14px;">
            <tr>
              <th>{{cantidadHoras}}:{{entero2}} HS</th>
              <td>{{cantidadFechas}}</td>
              <th>{{cantidadHorasPromedio}} HS</th>
            </tr>
          </tbody>
        </table>

  <ngx-spinner>
    <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>
</div>