<!-- <app-menu-admin *ngIf="menu else elseBlock1"></app-menu-admin>

<ng-template #elseBlock1>
    <app-menu></app-menu>
</ng-template> -->
<app-menu-admin></app-menu-admin>

<div class="container mt-3 ml-5">
    <div class="row">
        <div class="col-lg-13">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo" style="margin-right: 20px;">LISTADO DE SUB-CATEGORÍAS</span>
                    <button type="button" class="btn btn-success float-right" (click)="verModal(abrirModal)">
                        <i class="fas fa-plus"></i> NUEVO
                    </button>

                    <!-- MODAL AGREGAR-->
                    <ng-template #abrirModal let-modal>
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Agregar Sub-Categoría</h5>
                                </div>
                                <div class="modal-body">
                                    <label class="form-label">Ingrese sub-categoría:</label>
                                    <input type="text" class="form-control" id="subCategoria"><br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
                                    <button type="button" class="btn btn-primary" (click)="datosModal(modal)">Guardar</button>
                                </div>
                    </ng-template>

                    <!-- MODAL MODIFICAR-->
                    <ng-template #abrirModalModif let-modal2>
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modificar Sub-Categoría</h5>
                        </div>
                        <div class="modal-body">
                            <label class="form-label">Ingrese sub-categoría:</label>
                            <input type="text" class="form-control" id="subCategoria"><br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="modal2.close()">Cancelar</button>
                            <button type="button" class="btn btn-primary" (click)="datosModalUpdate(modal2)">Modificar</button>
                        </div>
                    </ng-template>

                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">CATEGORÍAS</th>
                                <th scope="col">SUB-CATEGORÍAS</th>
                                <th colspan="2">CONFIGURACIÓN</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 14px;">
                            <tr *ngFor="let subCategorias of subCategoriaList">
                                <td>{{subCategorias.categoriaCategoria.detalle}}</td>
                                <td>{{subCategorias.categoria}}</td>
                                <td><button style="font-size: 12px;" class="btn btn-primary">
                                        <i class="fas fa-edit" (click)="modificarSubCategoria(subCategorias.id, abrirModalModif)"></i>
                                    </button></td>
                                <td><button style="font-size: 12px;" class="btn btn-danger">
                                        <i class="fas fa-trash" (click)="eliminarSubCategoria(subCategorias)"></i>
                                    </button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>