<app-menu-admin *ngIf="menu else elseBlock1"></app-menu-admin>

<ng-template #elseBlock1>
    <app-menu></app-menu>
</ng-template>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <div class="text-center">
                    <span class="titulo">AGREGAR ESCUELA</span>
                </div>
                <form #escuelaForm="ngForm" class="mt-3">
                    <div class="form-group">
                    <label class="form-label">CUE *</label>
                    <input type="text" class="form-control" [(ngModel)]="escuela.cue" name="cue" 
                    required id="cue" #cantCue="ngModel" pattern="([0-9]{9,9})">
                    <div *ngIf="cantCue.invalid && (cantCue.dirty || cantCue.touched)"
                            class="alert alert-danger">
                            <div *ngIf="cantCue.errors.pattern">
                                Debe ingresar 9 digitos
                            </div>
                        </div>
                    </div>
                    <br>
                    <label class="form-label">Nombre *</label>
                    <input type="text" class="form-control" [(ngModel)]="escuela.nombre" name="nombre" required><br>
                    <label class="form-label">Calle *</label>
                    <input type="text" class="form-control" [(ngModel)]="domicilio.calle" name="calle" required><br>
                    <label class="form-label">Número</label>
                    <input type="number" class="form-control" [(ngModel)]="domicilio.numero" name="numero"><br>
                    <label class="form-label">Barrio</label>
                    <input type="text" class="form-control" [(ngModel)]="domicilio.barrio" name="barrio"><br>
                    <label class="form-label">Departamento</label>
                    <input type="text" class="form-control" [(ngModel)]="domicilio.departamento"
                        name="departamento"><br>
                    <label class="form-label">Código Postal</label>
                    <input type="text" class="form-control" [(ngModel)]="domicilio.codigoPostal"
                        name="codigoPostal"><br>
                    <label class="form-label">Teléfono</label>
                    <input type="text" class="form-control" [(ngModel)]="escuela.telefono" name="telefono"><br>
                    <label class="form-label">Región *</label>
                    <select class="form-control" [(ngModel)]="region.id" name="region" required>
                        <!-- <option selected>Seleccionar...</option> -->
                        <option *ngFor="let region of regionesList" [value]="region.id">
                            {{region.region}}
                        </option>
                    </select><br>
                    <label class="form-label">Sector *</label>
                    <select class="form-control" [(ngModel)]="sector.id" name="sector" required>
                        <!-- <option selected>Seleccionar...</option> -->
                        <option *ngFor="let sector of sectoresList" [value]="sector.id">
                            {{sector.sector}}
                        </option>
                    </select><br>
                    <label class="form-label">Ámbito *</label>
                    <select class="form-control" [(ngModel)]="ambito.id" name="ambito" required>
                        <!-- <option selected>Seleccionar...</option> -->
                        <option *ngFor="let ambito of ambitosList" [value]="ambito.id">
                            {{ambito.ambito}}
                        </option>
                    </select><br>
                    <label class="form-label">Nivel Educativo *</label>
                    <select class="form-control" [(ngModel)]="nivel.id" name="nivel" required>
                        <!-- <option selected>Seleccionar...</option> -->
                        <option *ngFor="let nivel of nivelesList" [value]="nivel.id">
                            {{nivel.nivel}}
                        </option>
                    </select><br>
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" [(ngModel)]="escuela.email" name="email"><br>

                    <label class="form-label" style="margin-top: 15px; color: orangered;">(*) Campos obligatorios</label>

                    <div class="text-center mb-3 mt-3">
                        <button class="btn btn-danger btn-lg" style="margin-right: 40px;"
                            routerLink="/listado-escuelas">CANCELAR</button>
                        <button class="btn btn-success btn-lg" style="margin-left: 40px;" (click)="agregarEscuela()"
                            *ngIf="!escuela.id else elseBlock" [disabled]='!escuelaForm.valid'>AGREGAR</button>

                        <ng-template #elseBlock>
                            <button class="btn btn-success btn-lg" style="margin-left: 40px;"
                                (click)="actualizarEscuela()">ACTUALIZAR</button>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>